DJANGO_SECRET_KEY=cambia-esta-clave
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
EXCHANGE_RATE_API_URL=https://api.exchangerate-api.com/v4/latest/USD
LOCAL_CURRENCY=VES
DEFAULT_EXCHANGE_RATE=842.21
PROFIT_MARGIN_PERCENTAGE=40
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
