DJANGO_SECRET_KEY=cambia-esta-clave
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
EXCHANGE_RATE_API_URL=https://api.exchangerate-api.com/v4/latest/USD
LOCAL_CURRENCY=EUR
DEFAULT_EXCHANGE_RATE=0.85
PROFIT_MARGIN_PERCENTAGE=40